<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="springboot.ltq.dao.CountryDao">


    <select id="country_list" resultType="springboot.ltq.entity.Country">
        select * from country
    </select>

    <select id="save" resultType="springboot.ltq.entity.OrderVo">
        INSERT into
        order_mws
        (code,amazonOrderId,sellerOrderId,purchaseDate,lastUpdateDate,orderStatus,fulfillmentChannel,salesChannel,orderChannel,shipServiceLevel,
        numberOfItemsShipped,numberOfItemsUnshipped)
        VALUES
        (#{code},#{amazonOrderId},#{sellerOrderId},#{purchaseDate},#{lastUpdateDate},#{orderStatus},#{fulfillmentChannel},#{salesChannel},#{orderChannel}
        ,#{shipServiceLevel},#{numberOfItemsShipped},#{numberOfItemsUnshipped}
        )
    </select>
    <update id="update">
       update order_mws set sellerOrderId = #{sellerOrderId},purchaseDate=#{purchaseDate},lastUpdateDate=#{lastUpdateDate},orderStatus=#{orderStatus}
        ,fulfillmentChannel=#{fulfillmentChannel},salesChannel=#{salesChannel},orderChannel=#{orderChannel},shipServiceLevel=#{shipServiceLevel},numberOfItemsShipped=#{numberOfItemsShipped},numberOfItemsUnshipped=#{numberOfItemsUnshipped}
        where amazonOrderId = #{amazonOrderId}
    </update>
    <select id="getOrderByAmazonOrderId" resultType="java.lang.Integer">
     SELECT  count(1) from order_mws where amazonOrderId = #{amazonOrderId}
    </select>
    <select id="saveAddress">
     insert into order_address(order_mws_code,name,addressLine1,addressLine2,addressLine3,city,county,district,stateOrRegion,postalCode,countryCode,phone)
     VALUES (#{code},#{shippingAddress.name},#{shippingAddress.addressLine1},#{shippingAddress.addressLine2},#{shippingAddress.addressLine3},#{shippingAddress.city}
     ,#{shippingAddress.county},#{shippingAddress.district},#{shippingAddress.stateOrRegion},#{shippingAddress.postalCode},#{shippingAddress.countryCode},#{shippingAddress.phone})
    </select>
    <update id="updateAddress">
        update order_address set name= #{shippingAddress.name},addressLine1=#{shippingAddress.addressLine1},addressLine2=#{shippingAddress.addressLine2},addressLine3=#{shippingAddress.addressLine3},city=#{shippingAddress.city},
        county=#{shippingAddress.county},district=#{shippingAddress.district},stateOrRegion=#{shippingAddress.stateOrRegion},postalCode=#{shippingAddress.postalCode},countryCode=#{shippingAddress.countryCode},phone=#{shippingAddress.phone}
    </update>
</mapper>